header {
    color:white;
    background-color: black;
    display: flex;
    align-items: center;
}

.open-modal-btn {
    background-color:black;
    color: white;
    border-radius: 5px;
    border: unset;
    background: unset;
    padding: 8px 25px;
    font-size: 50px;
}

button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

  .bm-1 {
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: unset;
    background-color: rgb(212, 210, 207);
    font-family: inherit;
    font-weight: bolder;
    border-right: groove;
  }
 
  .bm-2 {
    padding: 8px;
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;
    border: unset;
    background-color: rgb(212, 210, 207);
    font-family: inherit;
    font-weight: bolder;
  }




